* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #424141;
    flex-wrap: wrap;
    padding: 20px;
}
.navbar-img img {
    width: 120px;
}
.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.navbar-menu li {
    list-style: none;
    margin-right: 25px;
}
.navbar-menu li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.header-img-area {
    background-image: url("./img/images/background.png"),linear-gradient(45deg, #090909,#2e2e2e);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}
.design-text h1 {
    color: white;
    font-size: 36px;
    font-weight: 700;
}
.design-text p {
    color: white;
    font-size: 18px;
    margin: 14px auto;
}
.btn {
    background-color: #ff0000;
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 17px;
}
.design-img img {
    width: 400px;
}
.about-title {
    text-align: center;
    font-size: 42px;
    margin: 30px auto;
}
.about-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.about-img img {
    width: 400px;
}
.about-text h3 {
    font-size: 24px;
    color: black;
    font-weight: bold;
}
.about-text p {
    font-size: 18px;
    color: black;
    margin: 15px auto;
}
.service-area {
    background-image: url('./img/images/background.png'),linear-gradient(45deg,#060606,#2e2e2e);
    min-height: 60vh;
}
.service-area h1 {
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 30px;
}
.service-area-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.box-1 {
    width: 200px;
    height: 290px;
    box-shadow: 5px 5px 105px gray;
    text-align: center;
    border-radius: 10px;
    padding: 50px;
}
.box-1 img {
    width: 80px;
}
.box-1 h3 {
    color: white;
    font-size: 20px;
}
.box-1 p {
    color: white;
    font-size: 17px;
    margin: 10px auto;
}
.btn-1 {
    background-color: #1c1b1b;
    color: white;
    padding: 10px 13px;
    border: none;
    border-radius: 5px;
}
.footer-area {
    background-color: #040404;
    height: 60vh;

}
.footer-img-text {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: start;
    flex-wrap: wrap;
    margin: 0 auto;
    color: white;
}
.box-2 {
    margin: 150px auto;
}
.box-2 img {
    width: 200px;
}
.box-2 p {
    margin: 10px auto;
    font-size: 17px;
}
.box-2 h5 {
    font-size: 21px;
    color: white;
    font-weight: bold;
}
.copy {
    width: 80%;
    margin: 0 auto;
    color:gray;
}
.copy-right {
    text-align: center;
    color: white;
    margin: 20px auto;
}
